fastapi
uvicorn[standard]
langchain
langchain_community
langchain_experimental
llama-index
beautifulsoup4
html2text
python-dotenv
langchain_openai
langgraph
psycopg_pool
concurrent_log_handler
postgres
langgraph-checkpoint-postgres==3.0.2
redis